<div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Creative Tim
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="#">
                        <i class="pe-7s-graph"></i>
                        <p>Channels</p>
                    </a>
                     <ul><li ng-repeat="channel in channels"><a href="/channels/{{channel.id}}/videos">{{channel.title}}</a></li></ul>
                </li>
                
            </ul>
    	</div>
    </div>


